@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #191919;
}

button {
    position: relative;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin: 10px;
    padding: 10px 20px;
    font-size: 15px;
    letter-spacing: 1px;
    color: #272343; 
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #272343; 
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #272343; 
}
  
button:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #272343;
}

option{
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 10px;
    padding: 10px 20px;
    font-size: 15px;
    letter-spacing: 1px;
    color: #272343; 
    background: transparent; 
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #272343; 
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #272343;
}

option:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #272343; 
}

body {
    font-family: 'Nunito Sans'; 
}