.navbar {
    background-color: #bae8e8;
    display: flex;
  }
  
  .navbar-input {
    /* Tu CSS existente para el input */
    position: relative;
    text-align: center;
    padding: 10px 20px;
    font-size: 15px;
    letter-spacing: 1px;
    color: #272343;
    background: #ffffff;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #272343;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #272343;
  }
  
  .navbar-input:hover {
    /* Tu CSS existente para el hover */
    color: #ffffff;
    box-shadow: inset 0 -100px 0 0 #272343;
  }

  .navbar-form {
    margin-left: auto; /* Empujará el formulario hacia la derecha */
    display: flex;
    align-items: center;
  }
